
.h1{
    margin-top: 2rem;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}
.div{
    position: relative;
    display: inline-block;
}
.div1{
    position: relative;
    display: inline-block;
}
.div h2{
}
#backgroud {
    margin: 0;
    padding: 0;
    height: 99%;
    width: 100%;
    background: url('SOC.png') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.principal{
    display: inline-block;
    border: 1px solid rgb(37, 37, 37);
    font-family: 'Lato', sans-serif;
}